*, *:before, *:after {
	margin: 0px; 
	padding: 0px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* { 
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
}

.link:hover {
}

html,
body {
  background-color: var(--canary);
  color: var(--night2);
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: underline;
  transition: background-color 0.2s;
  will-change: background-color;
}

:root {
  --night1: #13171D;
  --night2: #181C22;
  --night3: #1C2229;
  --night4: #2C343D;
  --canary: #FDF06F;
  --salt: #FAFAFA;
  --polar: #FFFFFF;
}

.header {
  /* display: none; */
  display: flex;

  /* background: #00ff00; */
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  width: -webkit-fill-available;
  height: 80px;
  text-align: center;
  z-index: 5;
}

.header__left {
  font-family: "Arvo", san-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 0.875rem;
}
.header i {
  font-size: 1.25rem;
}

.footer {
  /* background: #ff00ff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  width: -webkit-fill-available;
  height: 80px;
  z-index: 5;
  font-size: 0.875rem;
}

.footer__left {
  font-size: 1.25rem;
  font-weight: 800;
  text-align: left;
  max-width: 480px;
  padding-bottom: 32px;
}

.claim-2 {
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 4px;
}

.footer__right {
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: right;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90%;
  height: 80%;
  margin-bottom: 64px;

  transform: translateX(-50%);
  transition: left 0.5s ease-out;
  will-change: left;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.card--1 {
  left: 50%;
  color: var(--canary);
}
.card--2 {
  left: 150%;
  color: var(--night2);
}
.card--3 {
  left: 150%;
  color: var(--canary);
}
.card--4 {
  left: 150%;
  color: var(--night2);
}

.card__header {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: min-content;
  height: 56%;
  justify-content: center;
  margin-top: 88px;
}

.card__logo {
  display: none;
  font-family: "Arvo", san-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2.5rem;
}

.card__title {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.1em;
  text-transform: uppercase;
  text-shadow: 10px 30px 50px rgba(0, 0, 0, 0.3);
}

.card__subtitle {
  display: none;
  /* display: flex; */
  position: relative;
  height: max-content;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--night3);
  padding: 8px 16px;
  background: rgba(255,255,255,.6);
  border-radius: 100px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  gap: 8px;
  align-items: center;
}

.card__body {
  position: relative;
  padding: 20px;
  height: 640px;
  width: 640px;
  margin: -8%;
  border-radius: 40px;
  display: flex;
  box-shadow: 8px 20px 120px rgba(0, 0, 0, 0.4);

  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
  
}


.card__img--1,
.card__img--2,
.card__img--3,
.card__img--4 {
  background-size: cover;
  background-color: var(--night4);
}

.card__img--1 {
  color: var(--canary);
  /* background-image: url("https://source.unsplash.com/_QVC2G_ehOM"); */
}

.card__img--2 {
  color: var(--night2);
  background-image: url("https://source.unsplash.com/VnmbcgAfL3Q");
}

.card__img--3 {
  color: var(--canary);
  background-image: url("https://source.unsplash.com/VnmbcgAfL3Q");
}

.card__img--4 {
  color: var(--night2);
  background-image: url("https://source.unsplash.com/VnmbcgAfL3Q");
}

.card__image {
  min-width: 240px;
  min-height: 491px;
  z-index: 2;
  border-radius: 32px;
  border: 12px solid var(--night1);
  box-shadow: 8px 20px 80px rgba(0, 0, 0, 0.2);

  background-color: rgba(176,124,113,.6);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(24px);
  background-image: url("../images/profile_zac.gif");
  backround: url("../images/profile_zac.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card__will-animate {
  will-change: transform;
}

.cards-placeholder {
  display: none;
  /* display: block; */
  position: absolute;
  text-align: center;
  bottom: 32px;
  left: 0;
  width: 100%;
}

.cards-placeholder__item {
  opacity: 0.1;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  width: 30px;
  height: 5px;
  border-radius: 5px;

  transition: opacity 0.2s;
  will-change: opacity;
}

.cards-placeholder__item--active {
  opacity: 1;
}


/* SLIDER */

.slider {
 /* overflow: hidden;
 width: 100vw;
 height: 100vh;
 position: relative; */
}
 
.slider .slide {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-size: cover;
 background-position: center;
 animation: slider 10s infinite;
 border-radius: 40px;
}
 
.slider .slide:nth-child(1) {
   background-image: url('https://source.unsplash.com/OqrSjBr4upg');
   animation-delay: 0s;
}

.slider .slide:nth-child(2) {
   background-image: url('https://source.unsplash.com/atSaEOeE8Nk');
   animation-delay: -2.5s;
}

.slider .slide:nth-child(3) {
   background-image: url('https://source.unsplash.com/dat6EwZnY1w');
   animation-delay: -5s;
}

.slider .slide:nth-child(4) {
   background-image: url('https://source.unsplash.com/4G1xnziBvzg');
   animation-delay: -7.5s;
}


@keyframes slider {
  0%, 20%, 100% {
    opacity: 1;
    animation-timing-function: ease;
    z-index: 0;
  }
  25% {
    opacity: 0;
    animation-timing-function: step-end;
    z-index: 0;
  }
  95% {
    opacity: 1;
    animation-timing-function: step-end;
    z-index: -1;
  }
}

.typewrite {
  pointer-events: none;
}

@media only screen and (max-width: 1500px) {
  .card__body {
    height: 560px;
    width: 560px;
  }

  .card__title {
    font-size: 4.5rem;
  }

  .card__image {
    min-width: 210px;
    min-height: 421px;
  }
}

@media only screen and (max-width: 1200px) {

  body {
    height: auto;
  }

  .header {
    position: relative;
    padding-left: 20px;
    padding-right: 24px;
  }

  .header__right {
    gap: 16px;
  }

  .header i {
    font-size: 1.5rem;
    padding: .75rem;
  }

  .footer {
    position: relative;
    padding-bottom: 64px;
    flex-direction: column;
    gap: 16px;
    height: auto;
  }

  .footer__left {
  text-align: center;
  }

  .wrapper {
    margin: 48px 0 80px 0px;
  }

  .card {
    flex-direction: column;
    margin-bottom: 0px;
    position: relative;
    height: auto;
  }

  .card__header {
    margin-top: 0px;
    height: auto;
  }

  .card__title {
    font-size: 3rem;
    text-align: center;
  }

  .card__body {
    height: 340px;
    width: 340px;
    margin-top: 64px;
    margin-bottom: -15%;
  }
  
  .card__image {
    min-height: 383px;
    min-width: 190px;
  }
}