*, *:before, *:after {
	margin: 0px; 
	padding: 0px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
  background-color: var(--white);
  color: var(--navy);
  height: 100%;
  width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
}

/* COLOURS */

:root {
  --white: #FFFFFF;
  --navy: #022536;
  --grey: #E7EDEF;
}


/* TYPOGRAPHY */

.font-featuredGreat-lg, .font-featuredGreat-sm {
  font-family: 'Arvo', serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.font-featuredGreat-lg {
  font-size: 32px;
}
.font-featuredGreat-sm {
  font-size: 16px;
}


.font-featuredRegular-lg, .font-featuredRegular-sm {
  font-family: 'Arvo', serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.font-featuredRegular-lg {
  font-size: 32px;
}
.font-featuredRegular-sm {
  font-size: 16px;
}


.font-featuredGreat-Italic-lg, .font-featuredGreat-Italic-sm {
  font-family: 'Arvo', serif;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}
  .font-featuredGreat-Italic-lg {
    font-size: 32px;
  }
  .font-featuredGreat-Italic-sm {
    font-size: 16px;
  }


.font-featuredRegular-Italic-lg, .font-featuredRegular-Italic-sm {
  font-family: 'Arvo', serif;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.font-featuredRegular-Italic-lg {
    font-size: 32px;
  }
  .font-featuredRegular-Italic-sm {
    font-size: 16px;
  }


.font-display-lg, .font-display-md, .font-display-sm, .font-display-xs {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
  .font-display-lg {
    font-size: 56px;
  }
  .font-display-md {
    font-size: 40px;
  }
  .font-display-sm {
    font-size: 32px;
  }
  .font-display-xs {
    font-size: 24px;
  }

.font-headline-xl, .font-headline-lg, .font-headline-md, .font-headline-sm, .font-headline-xs, .font-headline-xxs {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
  .font-headline-xl {
    font-size: 24px;
  }
  .font-headline-lg {
    font-size: 20px;
  }
  .font-headline-md {
    font-size: 16px;
  }
  .font-headline-sm {
    font-size: 14px;
  }
  .font-headline-xs {
    font-size: 12px;
  }
  .font-headline-xxs {
    font-size: 10px;
}

.font-title-xxl, .font-title-xl, .font-title-lg, .font-title-md, .font-title-sm, .font-title-xs {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
  .font-title-xxl {
    font-size: 40px;
  }
  .font-title-xl {
    font-size: 32px;
  }
  .font-title-lg {
    font-size: 24px;
  }
  .font-title-md {
    font-size: 16px;
  }
  .font-title-sm {
    font-size: 14px;
  }
  .font-title-xs {
    font-size: 12px;
}

.font-body-lg, .font-body-md, .font-body-sm {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
  .font-body-lg {
    font-size: 16px;
  }
  .font-body-md {
    font-size: 14px;
  }
  .font-body-sm {
    font-size: 12px;
  }

.site-container {
  height: 100vh;
  padding-right: 40px;
  padding-left: 40px;
}
.flex-container {
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
    flex-direction: column; 
    flex-wrap: nowrap; 
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
  .flex-container > div {
    padding: 32px;
  }

.header {
  display: flex;
  flex-direction: row;
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0px!important;
}

.hero > div {
  width: 50%;
  min-width: 650px;
}

.text {
  justify-content: start;
  padding-bottom: 80px;
}

.words-container {
  font-size: 88px;
  background: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.words-container > div:nth-child(1),
.words-container > div:nth-child(3) {
  padding: 0 32px 0 32px;
}

.words-container > div:nth-child(2) a {
  color: var(--navy)!important;
}
  
.typewrite {
  text-decoration: none;
  pointer-events: none;
  cursor: text;
  margin-right: -24px;
  margin-left: -8px;
}

.typewrite > .wrap { 
  /*border-right: 2px solid grey !important; -- Typer Line */
  padding: 0 50px;
  background: var(--grey);
  border-radius: 1000px;
}

.tagline {
  padding: 32px;
}

.triangles {
  justify-content: end;
}

.feature-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    /* flex-flow: row wrap; */ 
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 24px;
    padding-top: 0px !important;
    padding-bottom: 64px !important;
  }

.feature {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    /* flex-flow: row nowrap; */ 
    flex-direction: row; 
    flex-wrap: nowrap; 
    gap: 16px;
    max-width: 256px;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 32px !important;
}

.footer > div {
  width: 50%;
  align-items: center;
  border-top: 1px solid var(--grey);
  padding: 48px 0 48px;
}

.left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 4px;
  justify-content: start;
}

.right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 40px;
  justify-content: end;
}


.lang_dropdown{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 44px;
  width: 120px;
}

.lang_button{
  display: flex;
  border-radius: 12px;
  padding: 12px;
  gap: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  border: 1px solid transparent;
}

.lang_button:hover {
  background: var(--grey);
}

.lang_button.active {
  border: 1px solid var(--navy);
}

.lang_icon_static, .lang_icon {
  width: 16px;
  height: 16px;
  text-align: center;
  vertical-align: bottom;
}

.lang_icon {
  transform: rotate(0deg);
  transform-origin: center;
  transition: 0.5s;
}
.lang_icon.active {
  transform: rotate(180deg);
}

.lang_menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  width: 400px;
  padding: 24px 24px;
  background: var(--white);
  opacity: 0;
  transform: translateY(8px);
  transition: 0.5s;
  border-radius: 20px;
  pointer-events: none;
  z-index: 1;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
}

.lang_menu.active{
  opacity: 1;
  transform: translateY(-16px);
  pointer-events: auto;
}

.lang_menu > div a {
  padding: 12px 20px;
  color: black;
  border: 1px transparent solid;
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  gap: 8px;
  width: 96px;
  height: 42px;
  justify-content: center;
}
.lang_menu > div a.active {
  border: 1px var(--navy) solid;
}

.lang_menu > div a:hover{
  background: var(--grey);
}


/* ATHLETE TRIANGLES */

.container-athletes {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
 justify-content: center;
}

.athletes {
  flex-shrink: 1;
  height: auto;
  max-width: 700px;
  width: 100%;
}

.athletes path {
  pointer-events: none;
}

.icon {
  padding: 8px;
  background: var(--grey);
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1380px) {

  .site-container {
    height: auto;
    max-width: 800px;
    margin: 0 auto;
  }

  .flex-container {
    height: auto;
  }

  .header {
    align-self: center;
  }

  .font-featuredGreat-Italic-lg, .font-featuredRegular-Italic-lg {
    font-size: 24px !important;
  }

  .font-headline-xl {
    font-size: 24px !important;
  }

  .hero > div {
    width: 100%;
    text-align: center;
    min-width: 200px !important;
  }

  .text {
    padding-bottom: 0px;
  }

  .words-container {
    font-size: 88px;
  }
  
  .feature-container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    margin: 0 auto;
    padding-top: 64px !important;
    padding-bottom: 80px !important;
  }

  .feature {
    max-width: 300px;
  }

}

@media only screen and (max-width: 1000px) {

  .words-container {
    font-size: 64px;
  }

  .font-headline-xl {
    font-size: 16px !important;
  }
  
  .feature-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .feature {
    max-width: none;
  }

  .footer {
    flex-direction: column-reverse;
    align-items: center;
    border-top: 1px solid var(--grey);
  }
  

  .footer > div {
    width: 100%;
    align-items: center;
    border: none;
  }

  .left, .right {
    justify-content: center;
  }

  .right {
    flex-wrap: wrap;
    width: 200px !important;
    padding-bottom: 0px !important;
  }

}

@media only screen and (max-width: 414px) {

  .site-container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .words-container {
    font-size: 48px;
  }

  .typewrite {
    margin-right: -12px;
    margin-left: 0;
  }

  .typewrite > .wrap {
    padding: 0 24px;
  }

}